body {
    font-family: "Gamja Flower", sans-serif;
    background-color: #f5f5f5;
    color: #333;
    font-weight: 500;
    font-style: normal;
}

.detail-container {
    width: 60%;
    min-height: 90vh;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.detail-header, .detail-content, .detail-footer, .comment-section {
    margin-bottom: 20px;
}

.detail-header h2, .detail-header p, .detail-content p {
    margin-bottom: 15px;
}

.detail-header h2 {
    font-size: 2.0rem;
    text-align: center;
}

.detail-header p, #view-count {
    font-size: 1.0rem;
    text-align: right;
    color: #888;
}

.detail-content {
    font-size: 1.2rem;
    line-height: 1.5;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    height: auto;
    overflow-y: auto;
    max-height: 400px;
}

.detail-footer, .comment-section {
    display: flex;
    justify-content: center;
}

#back-btn, #submit-comment {
    padding: 10px 20px;
    background-color: #4A4A4A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back-btn:hover, #submit-comment:hover {
    background-color: #AD8B73;
}
#delete-btn {
    padding: 10px 20px;
    background-color: #D9534F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#delete-btn:hover {
    background-color: #C9302C;
}
#edit-btn {
    padding: 10px 20px;
    background-color: #5BC0DE; /* 연한 파란색 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* 목록으로 버튼과의 간격 */
}

#edit-btn:hover {
    background-color: #31B0D5; /* 호버 시 조금 더 진한 파란색 */
}
#comment-box {
    width: 80%;
    height: 100px;
    margin-right: 10px;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    resize: none;
}

.comment-section {
    flex-direction: row;
    align-items: center;
}
.comment-list {
    width: 100%;
    margin-top: 20px;
}

.comment {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment-author, .comment-content, .comment-date {
    margin-bottom: 5px;
}

.comment-author {
    font-weight: bold;
}

.comment-content {
    font-size: 1.2rem;
}

.comment-date {
    font-size: 1.0rem;
    text-align: right;
    color: #888;
}
