<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원정보 수정 페이지</title>

    <link rel="stylesheet" href="/css/setUser.css">

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="login-wrapper">
        <img src="/img/logo.png" alt="Logo" class="logo" onclick="location.href='/'">
        <h2>회원정보 수정</h2>
        <form method="post" action="#" id="edit-form">
            <input type="text" name="userName" placeholder="Username" id="name" th:value="${name}">
            <input type="email" name="userEmail" placeholder="Email" id="email" th:value="${email}" readonly>
            <input type="password" name="userPassword" placeholder="Password" id="pwd">
            <input type="password" name="confirmPassword" placeholder="Confirm Password" id="pwdChk">
            <input type="submit" value="수정" id="btn_save">
        </form>
    </div>

    <script src="/js/edit.js"></script>
</body>
</html>
